*.gem
*.rbc
.*.swp
.*.swo
junk.*
.idea/*
.bundle
.config
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
src/.DS_Store
src/du/du.ino
status_checker.rb